.content { 
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
}

.basic-info {
    display: flex;
    flex-direction: row;
}

.title-bar {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

#pfp {
    height: auto;
    width: 11rem;
    image-rendering: pixelated;
}

.basic-info-text {
    margin-left: 20px;
}

.basic-info-text h1,
.basic-info-text h2,
.basic-info-text h3,
.basic-info-text h4 {
    text-shadow: 3px 3px 5px rgba(255, 255, 255, 1);
    color: #ffffff;
}

.basic-info-text h2 {
    font-size: 3.5em;
    font-weight: 600;
    margin: 0;
    font-family: 'Alvera Bold Circle', sans-serif;
}

.basic-info-text h3 {
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
    padding-bottom: 10px;
    font-family: 'Alvera Regular Circle', sans-serif;
}

.basic-info-text h4 {
    font-size: 1.8rem;
    font-weight: 400;
    margin: 0;
    padding-bottom: 10px;
    font-family: 'Alvera Regular Circle', sans-serif;
}

.dotted-line {
  border: 0;
  border-top: 3px dotted #ffffff;
  margin-top: 0.5rem;
  margin-bottom: 0.8rem;
  margin-left: 0.2rem;
  width: 46%;
  box-shadow: 0 0 5px rgba(255, 255, 255, 1);
}

.svg-basic-info {
    height: 30px;
    vertical-align: middle;
}


.text-bit {
    height: 1.5rem;
}

.overlay { 
    position: fixed; 
    bottom: 0; 
    right: 0; 
}

/*Bits*/

.bits {
    padding-top: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.bit {
    color: #fff;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 1);
    text-decoration: wavy underline 2px #fff;
    transition: all 0.5s ease;
    width: 100%;
    border: 2px solid #fff;
    padding-left: 0.5rem;
}

.bit:hover {
    color: #00ffd5;
    text-decoration: wavy underline 2px #00ffd5;
    border: 2px solid #00ffd5;
    transform: scale(1.05);
    cursor: pointer;
    transition: all 0.2s ease;
}

.bit:hover h3 {
    transform: scale(1.05);
    transition: all 0.2s ease;
}

.bit img {
    height: 40px;
    vertical-align: middle;
    margin-right: 10px;
}

.bit h3 {
    padding: 0;
    margin: 0.5rem;
}