.home-container {
  height: calc(100vh - (var(--taskbar-height) + 6px));
  overflow: hidden;
  position: relative;
}

.icon-grid {
    display: grid;
    grid-template-columns: 1fr;
    width: max-content;
    position: absolute;
    top: 0px;
    left: 0px;
    gap: 10px;
    align-items: center;
    justify-items: center;
}

.icon {
    font-family: 'Windows 98';
    font-size: 14px;
    color: white;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    height: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: fit-content;
}

.icon p {
    margin: 0;
}

.icon:focus p {
    outline: 1px dotted white;
    outline-offset: 2px;
}

.icon img {
    width: 50px;
    padding: 10px 20px;
}

.title-bar {
  width: 100%;
}

.title-bar img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  vertical-align: middle;
}

.title-bar svg {
  color: #ccc;
}

.title-bar-buttons {
  margin: 3px 3px;
  display: flex;
  flex-direction: row;
}

.title-bar-buttons > *:nth-child(2){
  margin-right: 4px;
}

.title-bar-buttons img {
  width: 16px;
  height: 16px;
}

.title-bar-buttons button {
  background-color: #c0c0c0;
  border: 2px solid #fff;
  border-right-color: black;
  border-bottom-color: black;
  box-shadow: inset -1.5px -1.5px #818181, inset 1.5px 1.5px #d0d0d0;
  padding: 0;
  height: 20px;
  width: 20px;
}

@media (max-width: 768px) {
}
