<section class="home-container">
        <section class="icon-grid">
            <button class="icon"><img src="assets/images/recycle_bin_empty.png" alt=""><p>Papelera</p></button>
            <a href="https://www.linkedin.com/in/andresflorez-it/" target="_blank" class="icon"><img src="assets/images/linkedin.png" alt="Linkedin"><p>LinkedIn</p></a>
            <a href="https://github.com/florezandres" target="_blank" class="icon"><img src="assets/images/github.svg" alt="Github"><p>Mi Github</p></a>
            <a href="assets/documents/Hoja de vida.pdf" target="_blank" class="icon"><img src="assets/images/user_card.png" alt="Hoja de Vida"><p>Hoja de Vida</p></a>
        </section>
</section>