<section class="home-container">
    <section class="icon-grid">
        <button class="icon"><img src="assets/images/recycle_bin_empty.png" alt="">
            <p>Papelera</p>
        </button>
        <a href="https://www.linkedin.com/in/andresflorez-it/" target="_blank" class="icon"><img
                src="assets/images/linkedin.png" alt="Linkedin">
            <p>Mi LinkedIn</p>
        </a>
        <a href="https://github.com/florezandres" target="_blank" class="icon"><img src="assets/images/github.svg"
                alt="Github">
            <p>Mi Github</p>
        </a>
        <a href="assets/documents/Hoja de vida.pdf" target="_blank" class="icon"><img src="assets/images/user_card.png"
                alt="Hoja de Vida">
            <p>Hoja de Vida</p>
        </a>
    </section>
    <div id="main-page" class="window" cdkDrag>
        <header>
            <div class="handle" cdkDragHandle>
                <p class="window-title"><img src="assets/images/w98_logo.png" alt="">Bienvenido a mi Portafolio98</p>
            </div>
            <div class="handle-buttons">
                <button (click)="minimizeWindow('main-page')">-</button>
                <button (click)="maximizeWindow('main-page')">O</button>
                <button (click)="closeWindow('main-page')">X</button>
            </div>
        </header>   
        <section class="window-content">
            <app-main-page></app-main-page>
        </section>
    </div>
    <div id="secondary-page" class="window" cdkDrag display="none">
        <header>
            <div class="handle" cdkDragHandle>
                <p class="window-title"><img src="assets/images/w98_logo.png" alt="">Bienvenido a mi Portafolio98</p>
            </div>
            <div class="handle-buttons">
                <button (click)="minimizeWindow('secondary-page')">-</button>
                <button (click)="maximizeWindow('secondary-page')">O</button>
                <button (click)="closeWindow('secondary-page')">X</button>
            </div>
        </header>   
        <section class="window-content">
            <app-main-page></app-main-page>
        </section>
    </div>
</section>