<footer class="taskbar">
    <div class="tabs">
        <button class="windows-button"><img class="taskbar-logo" src="assets/images/w98_logo.png" alt="taskbar logo">
            <span>Inicio</span>
        </button>
        <div class="taskbar-dropup">
            <div class="taskbar-dropup-content" hidden>
                <p>Help</p>
                <p>Settings</p>
            </div>
        </div>
        <div class="divisor"></div>
        <div class="divisor-fat"></div>

        <div class="divisor-fat"></div>
        <div class="divisor"></div>
        <div ></div>
    </div>
    <div class="system-tray">
        <span class="time">{{ time }}</span>
    </div>
</footer>