body {
    margin: 0;
    padding: 0;
}

#content {
    padding-left: var(--general-padding);
    padding-right: var(--general-padding);
    height: 100vh;
    background-image: url('/assets/images/background3.jpg');
    background-size: cover;
    background-position: center;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}