.window-page {
    overflow-y: auto;
    max-height: calc(100% - 4px);
    margin-left: 2px;
    margin-right: 2.25px;
    margin-top: 2px;
    background-color: white;
}

.content {
    margin: 25px;
    margin-bottom: 0;
}

p {
    margin: 0;
    text-align: center;
}

h3 {
    margin: 0;
    text-align: center;
}

.main-title {
    text-align: center;
}

@keyframes fade-in {
    from {
        opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}


@media screen and (max-width: 768px) {

}

