/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

:root {
    --general-padding: 10rem;
}

@font-face {
  font-family: 'Alvera Regular Circle';
  src: url('/assets/fonts/alvera-demo/AlveraDEMO-RegularCircle.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alvera Bold Circle';
  src: url('/assets/fonts/alvera-demo/AlveraDEMO-BoldCircle.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Alvera Regular Circle', sans-serif;
  background-image: url('/assets/images/background3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

